$text: #afafaf;
@font-face {
    font-family: 'race';
    src: url('../../fonts/RaceSport-BWPLV.ttf') format('truetype');
}
@font-face {
    font-family: 'one';
    src: url('../../fonts/YearOne-1Gv6j.otf') format('truetype');
}