* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.conteiner {
    max-width: 640px;
    margin: 80px auto;
    width: 100%;
}

h2 {
    margin-top: 5px;
}

form {
    margin-top: 25px;
}

form input,
form button {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 8px;
}

form button {
    height: 35px;
    background-color: rgb(30, 247, 127);
    border-width: 1px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(87, 243, 157);
}

.mensagem_de_erro {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 8px;
    background-color: red;
    color: #fff;
    display: none;
}

.CERTO {
    display: none;
    background-color: rgb(39, 180, 39);
    padding: 8px;
    color: #fff;
    margin-top: 5px;
    font-size: medium;
}