* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(53, 53, 53);
}

.conteiner {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin-top: 100px;
}

h1, h2 {
    color: darkturquoise;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

form input,
form  button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

form input {
    color: white;
    background-color: rgb(53, 53, 53);
    outline: none;
    border-style: solid;
    border-radius: 2px;
    padding-left: 10px;
}

form button {
    cursor: pointer;
    background-color: darkturquoise;
    outline: none;
    border: none;
}

.msg_sucesso {
    margin-top: 8px;
    color: greenyellow;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    padding-left: 5px;
    font-weight: normal;
    display: none;
}

.mensagem_de_erro {
    color: #ffffff;
    font-size: 13px;
    border-radius: 2px;
    padding: 8px 9px;
    margin-top: 10px;
    background-color: red;
    display: none;
}